server {
    listen 80;
    listen [::]:80;
    listen 443 ssl;

    server_name x.pycon.ca;

    # Redirect HTTP to HTTPS
    if ($scheme = http) {
        rewrite ^(.*) https://$server_name$1;
    }

    location = / {
      return 301 $scheme://pycon.ca/;
    }

    {% for redirect in redirects %}
    location = /{{ redirect.from }} {
        return 301 {{ redirect.to }};
    }
    {% endfor %}

    include letsencrypt.conf;

    error_log /srv/www/pycon.ca/redirects/logs/error.log;
    access_log /srv/www/pycon.ca/redirects/logs/access.log;
}
